@import url('https://fonts.googleapis.com/css?family=Chicle');

.brand-logo{
    font-family: 'Chicle', cursive;
}
/*updated search bar border and submit button */
#border{
    border-color:#1a237e;
    border-width: 2px; 
    border-style: solid;
    margin-top: 10px;  
    margin-left:40px;
    width:800px;
}
#submit{
    margin-right: 10px;
}