nav .brand-logo {
    font-family: 'Chicle', cursive;
    margin-left: 30px;
    font-size: 50px;
}

body{
background: linear-gradient(#1a237e, white)
}

.dropdown-trigger {
    color: white;
}


#search-row{
    background-image: url(../images/architecture-buildings-another-city.jpg);

    background-size: cover;
    height: calc(100vh - 64px);
    margin-bottom: 0;
    
}

#moto{
    margin: 0;
    color: white;
    text-align: left;
    padding-top: 5%;
    width: 50%;
    margin-left: 25%;
    font-weight: bold;
    font-style: italic;
}

#search-col {
    margin-top: calc(20vh - 64px);
    background-color: white;
    border-radius: 5px;
}

#btn-col{

    margin-top: calc(20vh - 64px);
}

#submit {
    height: 51px;
    border-radius: 5px;
    background-color: #ff8a65
}

.card-title {
    color: #1a237e;
    font-size: 28px;
}

#map {
    height: 250px;
}



#city-image {
    display: inline-block;
}

#weather-add-on {
    color: black;
}

#jobs-add-on {
    overflow: auto;
}



#food-add-on{
    padding: 0;
}
.collapsible-header {
    color: white;
}


.collapsible-header{
    background-color: #ff8a65;
}

.collapsible-header{
    background-color: #ff8a65;

}

.collapsible-body{
    background-color: white;
}

tr {
    color: black;
}

#icon {
    width: 100%;
}

.dropdown-content {
    top: 64px !important;
}

.tp-autocomplete {
    max-width: none;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1a237e;
    -webkit-box-shadow: 0 1px 0 0 #1a237e;
    box-shadow: 0 1px 0 0 #1a237e;
}

#explore-city {
    margin-left: 10px;
    font-size: 28px;
    color: #1a237e;
    font-weight: bold;
}

#city-summary {
    margin-top: 30px;
}
#highestScoring {
    margin-top: 0px;
}

#lowestScoring {
    margin-top: 25px;
}

h6 {
    text-decoration: underline;
    font-weight: bold;
    color: #1a237e;
}

.table, #map{
    border-style: inset;
    border-color: #ff8a65;
}
.job {
    color: black;
}

.highlight:hover{
    background: #ff9f82;
  
}

.collapsible-header:hover{
    background: linear-gradient(grey, #ff9f82)
}


@media screen and (max-width: 414px) {

    nav .brand-logo{
        margin-left: 0;
    }

    #search-col{
        margin-left: 15%;
        width: 50%;
        margin-top: calc(30vh - 64px);
    }

    #btn-col {
        margin-top: calc(30vh - 64px);
    }

    #search-row{
        background-position-x: center;
    }

    #moto{
        font-size: 25px;
        padding-top: 12%;
        width: 80%;
        margin-left: 15%;
    }

    #teleport-autocomplete{
        font-size: 12px;
    }

    #search-city{
        padding: 0px;
        font-size: 20px;
    }

    #scoring-col{
        margin-left: 40px;
        margin-top: 10px;
    }

    #weather-add-on{
        font-size: small;
    }

    #icon{
        width: 100px;
        height: 125px;
        margin-top: 0;
    }

}

.dropdown-content li>a, .dropdown-content li>span {
    color: #1a237e;
}