

.brand-logo{
    font-family: 'Chicle', cursive;
}

aside{
    width: 200px;
    clear: right;
    background-color: goldenrod;
    
}

#sidebar-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

